/* .App {
  text-align: center;
  background-color: rgb(221, 217, 217);
} */

.navBar {
  text-align: left;
  background-color: white;
  padding-left: 30px;
}

.topicsNav {
  padding-left: 10px;
  text-decoration: none;
}

#mcrNewsLogo {
  text-decoration: none;
  padding-right: 30px;
  font-weight: 700;
}

.article-header {
  text-decoration: none;
}

.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(182, 54, 54);
  justify-content: space-around;
  align-content: center;
}

.flexbox-item {
  width: 600px;
  border: 3px solid black;
  background-color: lightgray;
  margin-top: 20px;
}

.pics {
  max-width: 400px;
}
