.navBar {
  text-align: left;
  background-color: white;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.topicsNav {
  padding-left: 10px;
  text-decoration: none;
  margin-top: 10px;
  color: black;
}

#mcrNewsLogo {
  text-decoration: none;
  padding-right: 30px;
  font-weight: 1000;
  color: rgb(184, 12, 12);
  font-size: 30px;
}

.article-header {
  text-decoration: none;
  color: black;
  font: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flexbox-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(218, 218, 218);
  align-items: center;
}

.flexbox-item {
  width: 50rem;
  border: 0.5px solid rgb(151, 151, 151);
  background-color: rgb(255, 255, 255);
  margin: 10px;
}

.all-articles-userInfo {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.all-articles-comments-like-btns {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

ul {
  list-style-type: none;
}

li {
  padding: 10px;
  margin: 10px;
}

.App {
  background-color: rgb(112, 110, 110);
  padding-bottom: 10px;
}

.like-dislike-btn {
  font-size: 20px;
  color: black;
  border: none;
  background-color: white;
}

.like-btn-area {
  display: flex;
  font-size: 20px;
  padding-left: 60px;
}

.single-article {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 10px 400px;
}

.article-info-item {
  flex: 1;
  background-color: rgb(252, 252, 252);
}

.body-item {
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
}

.pics {
  height: 430px;
  width: 600px;
  object-fit: cover;
}

.username-photo {
  height: 40px;
  width: 40px;
  object-fit: contain;
  border-radius: 20px;
}

.comment-container {
  margin: 200px;
  display: wrap;
  background-color: white;
}

.comment-body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.comment-username {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.comment-info {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}

.whole-comment {
  display: flex;
}
