.App {
  text-align: center;
  background-color: rgb(221, 217, 217);
}

.navBar {
  text-align: left;
  background-color: white;
  padding-left: 30px;
}

.topicsNav {
  padding-left: 10px;
  text-decoration: none;
}

#mcrNewsLogo {
  text-decoration: none;
  padding-right: 30px;
  font-weight: 700;
}

ul {
  list-style-type: none;
  list-style-position: inside;
}

.all-articles {
  border-style: bold;
  border-width: 200px;
  background-color: white;
}

.article-header {
  text-decoration: none;
}
